{{ define "main" }}
  <main class="home">
<style>
    nav {
        display: flex;
        margin-bottom: 2rem; 
    }
  .current-box p {
    color: #82c1e1;
  }

  .active-tab {
    color: #3692d8 ;
    border-bottom: 2px solid #3692d8;
  }

</style>
<section>
    <div>
        <h4>Currently</h4>
    </div>
</section>
<section class="currently-section" style="display: flex; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">

<div class="current-box" style="flex: 1; min-width: 160px; background: none; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #3692d8; font-size: 0.85rem; color: #333;">
    <h5 style="margin: 0 0 0.5rem 0; font-size: 1rem; color: #3692d8;">Reading</h5>
    <p><a href="https://www.goodreads.com/book/show/7126.The_Count_of_Monte_Cristo" target="_blank">The Count of Monte Cristo by Dumas</a></p>
</div> 
<div class="current-box" style="flex: 1; min-width: 160px; background: none; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #3692d8; font-size: 0.85rem; color: #333;">
    <h5 style="margin: 0 0 0.5rem 0; font-size: 1rem;  color: #3692d8;">Listening to</h5>
    <p><a href="https://www.audible.in/pd/The-Inner-Life-of-Animals-Audiobook/B075X3JYWV" target="_blank">The inner life of animals by Peter Wohlleben</a></p>
</div>
<div class="current-box" style="flex: 1; min-width: 160px; background: none; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #3692d8; font-size: 0.85rem; color: #333;">
    <h5 style="margin: 0 0 0.5rem 0; font-size: 1rem;  color: #3692d8;">Dreaming Of</h5>
    <p><a href="https://ootytourism.co.in/ooty-toy-train-mountain-railway" target="_blank">Ooty toy train in the winter</a></p>
</div>
<div class="current-box" style="flex: 1; min-width: 160px; background: none; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #3692d8; font-size: 0.85rem; color: #333;">
    <h5 style="margin: 0 0 0.5rem 0; font-size: 1rem;  color: #3692d8;">Working On</h5>
    <p><a href="https://www.coursera.org/specializations/deep-learning" target="_blank">Deep Learning Specialisation course from Coursera</a></p>
</div>
<div class="current-box" style="flex: 1; min-width: 160px; background: none; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #3692d8; font-size: 0.85rem; color: #333;">
    <h5 style="margin: 0 0 0.5rem 0; font-size: 1rem;  color: #3692d8;">Planning To</h5>
    <p>Sew a patchwork embroidered bag</p>
</div>
</section>

  </main>
{{ end }}